In [1]:
#Importing Libraries
import pandas as pd
import numpy as np

In [2]:
#Reading one season vaccinated percetage data
vacc_09_10 = pd.read_csv('data/2009-10 vaccination_coverage.txt')

In [3]:
#Looking at the data, data did not read correct because of text file with comma separated numbers.
vacc_09_10.head()

            States    n     %      CI
Alabama          9  441  45.8  (±2.0)
Alaska           5   58  45.1  (±3.2)
Arizona          8  321  45.9  (±2.4)
Arkansas         5  931  55.2  (±3.7)
California      18   39  45.4  (±1.4)

In [4]:
#Changing data types for columns below to read data correctly.
vacc_09_10.States = vacc_09_10.States.astype(str)
vacc_09_10.n = vacc_09_10.n.astype(str)

In [5]:
#Padding zero before sample column if the number is less than three digit.
vacc_09_10['n'] = vacc_09_10['n'].str.zfill(3)

In [6]:
#Adding numbers left of at the time of reading data.
vacc_09_10['n'] = vacc_09_10['States'] + vacc_09_10['n']

In [7]:
#Looking at the data again and now sample(n) column looks right.
vacc_09_10.head()

           States      n     %      CI
Alabama         9   9441  45.8  (±2.0)
Alaska          5   5058  45.1  (±3.2)
Arizona         8   8321  45.9  (±2.4)
Arkansas        5   5931  55.2  (±3.7)
California     18  18039  45.4  (±1.4)

In [8]:
#Droping the States column as it not at the right place
vacc_09_10 = vacc_09_10.drop(columns = 'States')

In [9]:
#Reseting index
vacc_09_10 = vacc_09_10.reset_index()

In [10]:
#Renaming column 'index' as 'states'
vacc_09_10 = vacc_09_10.rename(columns = {'index': 'states'})

In [11]:
#Creating a new column to show this data is for the season 2009-10
vacc_09_10['season'] = '2009-10'

In [12]:
#Looking at the final look of the data
vacc_09_10.head()

       states      n     %      CI   season
0     Alabama   9441  45.8  (±2.0)  2009-10
1      Alaska   5058  45.1  (±3.2)  2009-10
2     Arizona   8321  45.9  (±2.4)  2009-10
3    Arkansas   5931  55.2  (±3.7)  2009-10
4  California  18039  45.4  (±1.4)  2009-10

Now, doing reading all remaining seasons' datasets and doing the same process as before to have them clean and right.

In [13]:
vacc_10_11 = pd.read_csv('data/2010-11 vaccination_coverage.txt')
vacc_11_12 = pd.read_csv('data/2011-12 vaccination_coverage.txt')
vacc_12_13 = pd.read_csv('data/2012-13 vaccination_coverage.txt')
vacc_13_14 = pd.read_csv('data/2013-14 vaccination_coverage.txt')
vacc_14_15 = pd.read_csv('data/2014-15 vaccination_coverage.txt')
vacc_15_16 = pd.read_csv('data/2015-16 vaccination_coverage.txt')
vacc_16_17 = pd.read_csv('data/2016-17 vaccination_coverage.txt')
vacc_17_18 = pd.read_csv('data/2017-18 vaccination_coverage.txt')
vacc_18_19 = pd.read_csv('data/2018-19 vaccination_coverage.txt')

In [14]:
vacc_10_11.States = vacc_10_11.States.astype(str)
vacc_10_11.n = vacc_10_11.n.astype(str)
vacc_11_12.States = vacc_11_12.States.astype(str)
vacc_11_12.n = vacc_11_12.n.astype(str)
vacc_12_13.States = vacc_12_13.States.astype(str)
vacc_12_13.n = vacc_12_13.n.astype(str)
vacc_13_14.States = vacc_13_14.States.astype(str)
vacc_13_14.n = vacc_13_14.n.astype(str)
vacc_14_15.States = vacc_14_15.States.astype(str)
vacc_14_15.n = vacc_14_15.n.astype(str)
vacc_15_16.States = vacc_15_16.States.astype(str)
vacc_15_16.n = vacc_15_16.n.astype(str)
vacc_16_17.States = vacc_16_17.States.astype(str)
vacc_16_17.n = vacc_16_17.n.astype(str)
vacc_17_18.States = vacc_17_18.States.astype(str)
vacc_17_18.n = vacc_17_18.n.astype(str)
vacc_18_19.States = vacc_18_19.States.astype(str)
vacc_18_19.n = vacc_18_19.n.astype(str)

In [15]:
vacc_10_11['n'] = vacc_10_11['n'].str.zfill(3)
vacc_11_12['n'] = vacc_11_12['n'].str.zfill(3)
vacc_12_13['n'] = vacc_12_13['n'].str.zfill(3)
vacc_13_14['n'] = vacc_13_14['n'].str.zfill(3)
vacc_14_15['n'] = vacc_14_15['n'].str.zfill(3)
vacc_15_16['n'] = vacc_15_16['n'].str.zfill(3)
vacc_16_17['n'] = vacc_16_17['n'].str.zfill(3)
vacc_17_18['n'] = vacc_17_18['n'].str.zfill(3)
vacc_18_19['n'] = vacc_18_19['n'].str.zfill(3)

In [16]:
vacc_10_11['n'] = vacc_10_11['States'] + vacc_10_11['n']
vacc_11_12['n'] = vacc_11_12['States'] + vacc_11_12['n']
vacc_12_13['n'] = vacc_12_13['States'] + vacc_12_13['n']
vacc_13_14['n'] = vacc_13_14['States'] + vacc_13_14['n']
vacc_14_15['n'] = vacc_14_15['States'] + vacc_14_15['n']
vacc_15_16['n'] = vacc_15_16['States'] + vacc_15_16['n']
vacc_16_17['n'] = vacc_16_17['States'] + vacc_16_17['n']
vacc_17_18['n'] = vacc_17_18['States'] + vacc_17_18['n']
vacc_18_19['n'] = vacc_18_19['States'] + vacc_18_19['n']

In [17]:
vacc_10_11 = vacc_10_11.drop(columns = 'States')
vacc_11_12 = vacc_11_12.drop(columns = 'States')
vacc_12_13 = vacc_12_13.drop(columns = 'States')
vacc_13_14 = vacc_13_14.drop(columns = 'States')
vacc_14_15 = vacc_14_15.drop(columns = 'States')
vacc_15_16 = vacc_15_16.drop(columns = 'States')
vacc_16_17 = vacc_16_17.drop(columns = 'States')
vacc_17_18 = vacc_17_18.drop(columns = 'States')
vacc_18_19 = vacc_18_19.drop(columns = 'States')

In [18]:
vacc_10_11 = vacc_10_11.reset_index()
vacc_11_12 = vacc_11_12.reset_index()
vacc_12_13 = vacc_12_13.reset_index()
vacc_13_14 = vacc_13_14.reset_index()
vacc_14_15 = vacc_14_15.reset_index()
vacc_15_16 = vacc_15_16.reset_index()
vacc_16_17 = vacc_16_17.reset_index()
vacc_17_18 = vacc_17_18.reset_index()
vacc_18_19 = vacc_18_19.reset_index()

In [19]:
vacc_10_11 = vacc_10_11.rename(columns = {'index': 'states'})
vacc_11_12 = vacc_11_12.rename(columns = {'index': 'states'})
vacc_12_13 = vacc_12_13.rename(columns = {'index': 'states'})
vacc_13_14 = vacc_13_14.rename(columns = {'index': 'states'})
vacc_14_15 = vacc_14_15.rename(columns = {'index': 'states'})
vacc_15_16 = vacc_15_16.rename(columns = {'index': 'states'})
vacc_16_17 = vacc_16_17.rename(columns = {'index': 'states'})
vacc_17_18 = vacc_17_18.rename(columns = {'index': 'states'})
vacc_18_19 = vacc_18_19.rename(columns = {'index': 'states'})

In [20]:
vacc_10_11['season'] = '2010-11'
vacc_11_12['season'] = '2011-12'
vacc_12_13['season'] = '2012-13'
vacc_13_14['season'] = '2013-14'
vacc_14_15['season'] = '2014-15'
vacc_15_16['season'] = '2015-16'
vacc_16_17['season'] = '2016-17'
vacc_17_18['season'] = '2017-18'
vacc_18_19['season'] = '2018-19'

In [21]:
#Checking random season data if they look right.
vacc_18_19.head()

       states     n     %      CI   season
0     Alabama  7966  48.3  (±2.0)  2018-19
1      Alaska  4169  44.1  (±3.3)  2018-19
2     Arizona  8714  45.6  (±2.1)  2018-19
3    Arkansas  5247  48.8  (±2.5)  2018-19
4  California  9857  47.4  (±1.6)  2018-19

In [22]:
#Appending all seasons' data to have them in one dataset in order to do exploration and merging.
vacc_rate = vacc_09_10.append(vacc_10_11).append(vacc_11_12).append(vacc_12_13).append(vacc_13_14).append(vacc_14_15).append(vacc_15_16).append(vacc_16_17).append(vacc_17_18).append(vacc_18_19)

In [23]:
#Reseting index after appending
vacc_rate = vacc_rate.reset_index(drop = True)

In [24]:
#Looking at the final dataset if it looks okay.
vacc_rate.head()

       states      n     %      CI   season
0     Alabama   9441  45.8  (±2.0)  2009-10
1      Alaska   5058  45.1  (±3.2)  2009-10
2     Arizona   8321  45.9  (±2.4)  2009-10
3    Arkansas   5931  55.2  (±3.7)  2009-10
4  California  18039  45.4  (±1.4)  2009-10

In [25]:
vacc_rate[vacc_rate['%'] == 'NR']

                   states      n   %   CI   season
208            California   5854  NR   NR  2013-14
228           Mississippi   5768  NR   NR  2013-14
416  District of Columbia   4122  NR   NR  2017-18
467  District of Columbia  NR0NR  NR  NaN  2018-19
489            New Jersey  NR0NR  NR  NaN  2018-19

In [26]:
#Converting data type for columns sample(n) and vaccination percentage(%) as numeric.
vacc_rate['n'] = pd.to_numeric(vacc_rate['n'], errors = 'coerce')
vacc_rate['%'] = pd.to_numeric(vacc_rate['%'], errors = 'coerce')
vacc_rate['%'].dtype

dtype('float64')

In [27]:
#Renaming columns name.
vacc_rate = vacc_rate.rename(columns = {'states': 'states', 'n':'sample','%':'percent_vacc','CI':'CI','season':'season'})

In [28]:
#Looking at the data after renaming columns.
vacc_rate.head()

       states   sample  percent_vacc      CI   season
0     Alabama   9441.0          45.8  (±2.0)  2009-10
1      Alaska   5058.0          45.1  (±3.2)  2009-10
2     Arizona   8321.0          45.9  (±2.4)  2009-10
3    Arkansas   5931.0          55.2  (±3.7)  2009-10
4  California  18039.0          45.4  (±1.4)  2009-10

In [29]:
#Reading Pneumonia and Influenza deaths dataset.
pne_flu = pd.read_csv('data/Deaths_from_Pneumonia_and_Influenza__P_I__and_all_deaths__by_state_and_region__National_Center_For_Health_Statistics_Mortality_Surveillance_System.csv')

In [30]:
#Looking at the data
pne_flu.head()

,geoid,Region,State,age,season,MMWR Year/Week,Deaths from influenza,Deaths from pneumonia,Deaths from pneumonia and influenza,All Deaths,Pecent of deaths due to pneumonia or influenza,pecent complete
0,State,NaN,New Hampshire,All,2017-18,201805,NaN,NaN,28.0,286.0,9.790210,143.277643
1,State,NaN,New York City,All,2015-16,201629,NaN,NaN,64.0,972.0,6.584362,97.618498
2,State,NaN,Missouri,All,2009-10,201020,NaN,NaN,84.0,984.0,8.536585,93.231242
3,Region,3.0,NaN,All,2010-11,201134,0.0,280.0,280.0,4662.0,6.006006,92.565116
4,State,NaN,Kansas,All,2017-18,201820,NaN,NaN,19.0,496.0,3.830645,105.194581

In [31]:
#Dropping unnecessary columns.
pne_flu = pne_flu.drop(['geoid', 'Region','age', 'MMWR Year/Week','Deaths from influenza','Deaths from pneumonia','pecent complete'], axis=1,)

In [32]:
#Looking at the columns.
pne_flu.columns

Index(['State', 'season', 'Deaths from pneumonia and influenza', 'All Deaths',
       'Pecent of deaths due to pneumonia or influenza'],
      dtype='object')

In [33]:
#Dropping NaN from State column.
pne_flu = pne_flu.dropna(subset=['State'])

In [34]:
#Renaming columns
pne_flu = pne_flu.rename(columns = {'State': 'states', 'season':'season','Deaths from pneumonia and influenza':'deaths_pne_flu','All Deaths':'total_deaths','Pecent of deaths due to pneumonia or influenza':'percent_pne_flu'})

In [35]:
#Looking at the data after renaming columns.
pne_flu.head()

          states   season  deaths_pne_flu  total_deaths  percent_pne_flu
0  New Hampshire  2017-18            28.0         286.0         9.790210
1  New York City  2015-16            64.0         972.0         6.584362
2       Missouri  2009-10            84.0         984.0         8.536585
4         Kansas  2017-18            19.0         496.0         3.830645
5        Georgia  2009-10            89.0        1283.0         6.936867

In [36]:
#Grouping by to get the total of all deaths in each season.
pne_flu_total = pne_flu.groupby(['states', 'season']).sum()

In [37]:
#Reseting index.
pne_flu_total = pne_flu_total.reset_index()

In [38]:
#Looking at the data after groupby and reseting index.
pne_flu_total.head()

    states   season  deaths_pne_flu  total_deaths  percent_pne_flu
0  Alabama  2009-10          3450.0       47870.0       373.069397
1  Alabama  2010-11          3354.0       48459.0       357.156009
2  Alabama  2011-12          3289.0       48412.0       352.995444
3  Alabama  2012-13          3313.0       50132.0       338.629837
4  Alabama  2013-14          3207.0       49784.0       331.658926

In [39]:
#droping column 'percent_pne-flu' as it added all percentage at the time of groupby.
pne_flu_total = pne_flu_total.drop(columns = 'percent_pne_flu')

In [40]:
#Craeting percentage column
pne_flu_total['percent_pne_flu'] = pne_flu_total['deaths_pne_flu']/pne_flu_total['total_deaths']*100

In [41]:
#Looking at the clean data
pne_flu_total.head()

    states   season  deaths_pne_flu  total_deaths  percent_pne_flu
0  Alabama  2009-10          3450.0       47870.0         7.207019
1  Alabama  2010-11          3354.0       48459.0         6.921315
2  Alabama  2011-12          3289.0       48412.0         6.793770
3  Alabama  2012-13          3313.0       50132.0         6.608553
4  Alabama  2013-14          3207.0       49784.0         6.441829

In [42]:
#Merging deaths and vaccine data.
pne_flu_vacc = pne_flu_total.merge(vacc_rate)

In [43]:
#Looking at the shape
pne_flu_vacc.shape

(510, 8)

In [44]:
#Looking at the data after merge.
pne_flu_vacc.head()

,states,season,deaths_pne_flu,total_deaths,percent_pne_flu,sample,percent_vacc,CI
0,Alabama,2009-10,3450.0,47870.0,7.207019,9441.0,45.8,(±2.0)
1,Alabama,2010-11,3354.0,48459.0,6.921315,8221.0,42.4,(±2.3)
2,Alabama,2011-12,3289.0,48412.0,6.793770,8598.0,41.6,(±1.9)
3,Alabama,2012-13,3313.0,50132.0,6.608553,7292.0,45.7,(±2.3)
4,Alabama,2013-14,3207.0,49784.0,6.441829,8678.0,48.3,(±2.3)

In [45]:
#Saving clean data to start exploring in R
pne_flu_vacc.to_csv('data/pne_flu_vacc.csv', index = False)

Some Checkings to get these data clean...
#pne_flu[pne_flu['State'].isna()]
#pne_flu['Pecent of deaths due to pneumonia or influenza'].isnull().sum()
#pne_flu['Pecent of deaths due to pneumonia or influenza'].unique()
#pne_flu[pne_flu['states'] == 'California']
#pne_flu_vacc.groupby('states')['season'].value_counts()
#test = pne_flu_vacc.groupby(['states', 'season']).sum()
#pne_flu['State'][3]
#vacc_rate.n.value_counts()
#vacc_rate.isnull().sum()
#vacc_rate.duplicated()
#vacc_rate[vacc_rate['n'] == 'NR0NR']
#vacc_rate[vacc_rate['states'] == 'District of Columbia']
#vacc_rate[vacc_rate['CI'] == 'NR']
#vacc_rate['CI'].unique()