In [1]:
import pandas as pd
import numpy as np

In [2]:
vacc_09_10 = pd.read_csv('data/2009-10 vaccination_coverage.txt')

In [3]:
vacc_09_10.head()

            States    n     %      CI
Alabama          9  441  45.8  (±2.0)
Alaska           5   58  45.1  (±3.2)
Arizona          8  321  45.9  (±2.4)
Arkansas         5  931  55.2  (±3.7)
California      18   39  45.4  (±1.4)

In [4]:
vacc_09_10['States'].dtype

dtype('int64')

In [5]:
vacc_09_10.States = vacc_09_10.States.astype(str)
vacc_09_10.n = vacc_09_10.n.astype(str)

In [6]:
vacc_09_10['n'] = vacc_09_10['n'].str.zfill(3)

In [7]:
vacc_09_10.head()

           States    n     %      CI
Alabama         9  441  45.8  (±2.0)
Alaska          5  058  45.1  (±3.2)
Arizona         8  321  45.9  (±2.4)
Arkansas        5  931  55.2  (±3.7)
California     18  039  45.4  (±1.4)

In [8]:
vacc_09_10['n'] = vacc_09_10['States'] + vacc_09_10['n']

In [9]:
vacc_09_10.head()

           States      n     %      CI
Alabama         9   9441  45.8  (±2.0)
Alaska          5   5058  45.1  (±3.2)
Arizona         8   8321  45.9  (±2.4)
Arkansas        5   5931  55.2  (±3.7)
California     18  18039  45.4  (±1.4)

In [10]:
vacc_09_10 = vacc_09_10.drop(columns = 'States')
#vacc_09_10.reset_index()
#vacc_09_10.rename(columns = {'index': 'states'})

In [11]:
vacc_09_10 = vacc_09_10.reset_index()

In [12]:
vacc_09_10 = vacc_09_10.rename(columns = {'index': 'states'})

In [13]:
vacc_09_10['season'] = '2009-10'

In [14]:
vacc_09_10.head()

       states      n     %      CI   season
0     Alabama   9441  45.8  (±2.0)  2009-10
1      Alaska   5058  45.1  (±3.2)  2009-10
2     Arizona   8321  45.9  (±2.4)  2009-10
3    Arkansas   5931  55.2  (±3.7)  2009-10
4  California  18039  45.4  (±1.4)  2009-10

In [15]:
vacc_10_11 = pd.read_csv('data/2010-11 vaccination_coverage.txt')
vacc_11_12 = pd.read_csv('data/2011-12 vaccination_coverage.txt')
vacc_12_13 = pd.read_csv('data/2012-13 vaccination_coverage.txt')
vacc_13_14 = pd.read_csv('data/2013-14 vaccination_coverage.txt')
vacc_14_15 = pd.read_csv('data/2014-15 vaccination_coverage.txt')
vacc_15_16 = pd.read_csv('data/2015-16 vaccination_coverage.txt')
vacc_16_17 = pd.read_csv('data/2016-17 vaccination_coverage.txt')
vacc_17_18 = pd.read_csv('data/2017-18 vaccination_coverage.txt')
vacc_18_19 = pd.read_csv('data/2018-19 vaccination_coverage.txt')

In [16]:
vacc_10_11.States = vacc_10_11.States.astype(str)
vacc_10_11.n = vacc_10_11.n.astype(str)
vacc_11_12.States = vacc_11_12.States.astype(str)
vacc_11_12.n = vacc_11_12.n.astype(str)
vacc_12_13.States = vacc_12_13.States.astype(str)
vacc_12_13.n = vacc_12_13.n.astype(str)
vacc_13_14.States = vacc_13_14.States.astype(str)
vacc_13_14.n = vacc_13_14.n.astype(str)
vacc_14_15.States = vacc_14_15.States.astype(str)
vacc_14_15.n = vacc_14_15.n.astype(str)
vacc_15_16.States = vacc_15_16.States.astype(str)
vacc_15_16.n = vacc_15_16.n.astype(str)
vacc_16_17.States = vacc_16_17.States.astype(str)
vacc_16_17.n = vacc_16_17.n.astype(str)
vacc_17_18.States = vacc_17_18.States.astype(str)
vacc_17_18.n = vacc_17_18.n.astype(str)
vacc_18_19.States = vacc_18_19.States.astype(str)
vacc_18_19.n = vacc_18_19.n.astype(str)

In [17]:
vacc_10_11['n'] = vacc_10_11['n'].str.zfill(3)
vacc_11_12['n'] = vacc_11_12['n'].str.zfill(3)
vacc_12_13['n'] = vacc_12_13['n'].str.zfill(3)
vacc_13_14['n'] = vacc_13_14['n'].str.zfill(3)
vacc_14_15['n'] = vacc_14_15['n'].str.zfill(3)
vacc_15_16['n'] = vacc_15_16['n'].str.zfill(3)
vacc_16_17['n'] = vacc_16_17['n'].str.zfill(3)
vacc_17_18['n'] = vacc_17_18['n'].str.zfill(3)
vacc_18_19['n'] = vacc_18_19['n'].str.zfill(3)

In [18]:
vacc_10_11['n'] = vacc_10_11['States'] + vacc_10_11['n']
vacc_11_12['n'] = vacc_11_12['States'] + vacc_11_12['n']
vacc_12_13['n'] = vacc_12_13['States'] + vacc_12_13['n']
vacc_13_14['n'] = vacc_13_14['States'] + vacc_13_14['n']
vacc_14_15['n'] = vacc_14_15['States'] + vacc_14_15['n']
vacc_15_16['n'] = vacc_15_16['States'] + vacc_15_16['n']
vacc_16_17['n'] = vacc_16_17['States'] + vacc_16_17['n']
vacc_17_18['n'] = vacc_17_18['States'] + vacc_17_18['n']
vacc_18_19['n'] = vacc_18_19['States'] + vacc_18_19['n']

In [19]:
vacc_10_11 = vacc_10_11.drop(columns = 'States')
vacc_11_12 = vacc_11_12.drop(columns = 'States')
vacc_12_13 = vacc_12_13.drop(columns = 'States')
vacc_13_14 = vacc_13_14.drop(columns = 'States')
vacc_14_15 = vacc_14_15.drop(columns = 'States')
vacc_15_16 = vacc_15_16.drop(columns = 'States')
vacc_16_17 = vacc_16_17.drop(columns = 'States')
vacc_17_18 = vacc_17_18.drop(columns = 'States')
vacc_18_19 = vacc_18_19.drop(columns = 'States')

In [20]:
vacc_10_11 = vacc_10_11.reset_index()
vacc_11_12 = vacc_11_12.reset_index()
vacc_12_13 = vacc_12_13.reset_index()
vacc_13_14 = vacc_13_14.reset_index()
vacc_14_15 = vacc_14_15.reset_index()
vacc_15_16 = vacc_15_16.reset_index()
vacc_16_17 = vacc_16_17.reset_index()
vacc_17_18 = vacc_17_18.reset_index()
vacc_18_19 = vacc_18_19.reset_index()

In [21]:
vacc_10_11 = vacc_10_11.rename(columns = {'index': 'states'})
vacc_11_12 = vacc_11_12.rename(columns = {'index': 'states'})
vacc_12_13 = vacc_12_13.rename(columns = {'index': 'states'})
vacc_13_14 = vacc_13_14.rename(columns = {'index': 'states'})
vacc_14_15 = vacc_14_15.rename(columns = {'index': 'states'})
vacc_15_16 = vacc_15_16.rename(columns = {'index': 'states'})
vacc_16_17 = vacc_16_17.rename(columns = {'index': 'states'})
vacc_17_18 = vacc_17_18.rename(columns = {'index': 'states'})
vacc_18_19 = vacc_18_19.rename(columns = {'index': 'states'})

In [22]:
vacc_10_11['season'] = '2010-11'
vacc_11_12['season'] = '2011-12'
vacc_12_13['season'] = '2012-13'
vacc_13_14['season'] = '2013-14'
vacc_14_15['season'] = '2014-15'
vacc_15_16['season'] = '2015-16'
vacc_16_17['season'] = '2016-17'
vacc_17_18['season'] = '2017-18'
vacc_18_19['season'] = '2018-19'

In [23]:
vacc_18_19.head()

       states     n     %      CI   season
0     Alabama  7966  48.3  (±2.0)  2018-19
1      Alaska  4169  44.1  (±3.3)  2018-19
2     Arizona  8714  45.6  (±2.1)  2018-19
3    Arkansas  5247  48.8  (±2.5)  2018-19
4  California  9857  47.4  (±1.6)  2018-19

In [29]:
vacc_rate = vacc_09_10.append(vacc_10_11).append(vacc_11_12).append(vacc_12_13).append(vacc_13_14).append(vacc_14_15).append(vacc_15_16).append(vacc_16_17).append(vacc_17_18).append(vacc_18_19)

In [30]:
vacc_rate = vacc_rate.reset_index(drop = True)

In [26]:
#vacc_rate.n = vacc_rate.astype(int, errors = 'ignore')

In [27]:
vacc_rate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 510 entries, 0 to 509
Data columns (total 5 columns):
states    510 non-null object
n         510 non-null object
%         510 non-null object
CI        508 non-null object
season    510 non-null object
dtypes: object(5)
memory usage: 20.0+ KB

In [31]:
vacc_rate[vacc_rate['%'] == 'NR']

                   states      n   %   CI   season
208            California   5854  NR   NR  2013-14
228           Mississippi   5768  NR   NR  2013-14
416  District of Columbia   4122  NR   NR  2017-18
467  District of Columbia  NR0NR  NR  NaN  2018-19
489            New Jersey  NR0NR  NR  NaN  2018-19

In [32]:
vacc_rate['n'].unique()

array(['9441', '5058', '8321', '5931', '18039', '10831', '8657', '7226',
       '6501', '25335', '8034', '10004', '9662', '8810', '11145', '8222',
       '13988', '9883', '9054', '8921', '11261', '14221', '10767', '8917',
       '11895', '7137', '9342', '16626', '7369', '7401', '11776', '9437',
       '9896', '11349', '7060', '11427', '10027', '8263', '12327', '8537',
       '10911', '8949', '7360', '20994', '11564', '2882', '7184', '19819',
       '6970', '5622', '8112', '8221', '4082', '7714', '5605', '17752',
       '10739', '8956', '5346', '5155', '23009', '7550', '7223', '6664',
       '8455', '10957', '12527', '9035', '9961', '11049', '10622',
       '16952', '9780', '10761', '9274', '7034', '8954', '17738', '4614',
       '6859', '13887', '9188', '11525', '9572', '5756', '9766', '8093',
       '6064', '12439', '7508', '10200', '7253', '7269', '22207', '10551',
       '7738', '7537', '18192', '5748', '6899', '7019', '8598', '4380',
       '7028', '5812', '10219', '11945', '8043', '5737', '5203', '7739',
       '8305', '7461', '6375', '7725', '7767', '7238', '15425', '10860',
       '8936', '10667', '12091', '19861', '9619', '14706', '7669', '5835',
       '8967', '21365', '6304', '7003', '12538', '8714', '8392', '13141',
       '5126', '9768', '7841', '6398', '16922', '6948', '12189', '5473',
       '6820', '18233', '9449', '6807', '6957', '14140', '6026', '4907',
       '6621', '7292', '4997', '6778', '5609', '9443', '11539', '8003',
       '6360', '4615', '16443', '7013', '8208', '7551', '9666', '7337',
       '14699', '9627', '7898', '8597', '11586', '16993', '11009',
       '11703', '7450', '6345', '8884', '12116', '5851', '7922', '12219',
       '7996', '9646', '8573', '6886', '11102', '6978', '6090', '14907',
       '5067', '11504', '6674', '6900', '16032', '7915', '6665', '8929',
       '11332', '6252', '5057', '5509', '8678', '6177', '9278', '6216',
       '5854', '12606', '7376', '6091', '5565', '18220', '7157', '7663',
       '6815', '8974', '10349', '8423', '14725', '10716', '7728', '8805',
       '11734', '10324', '10921', '15917', '5768', '7387', '8780',
       '16218', '5841', '7494', '12630', '9853', '10442', '7571', '7920',
       '12068', '8454', '5641', '14321', '6848', '10826', '7329', '5428',
       '20873', '15401', '7492', '9414', '10040', '6998', '7150', '6933',
       '9092', '5223', '10518', '5875', '10590', '10314', '8006', '5041',
       '4699', '5898', '5784', '8915', '8699', '7171', '15833', '8849',
       '9164', '12185', '7761', '16204', '6825', '7795', '7110', '18352',
       '4813', '6340', '10483', '7170', '13226', '7017', '6060', '9902',
       '7393', '6443', '11990', '7015', '9708', '7582', '6192', '22940',
       '8418', '7122', '9953', '11930', '7024', '5535', '6660', '7822',
       '4740', '9739', '5694', '9488', '10600', '11758', '5144', '4624',
       '15430', '5874', '7604', '6052', '7893', '6760', '7436', '12767',
       '8733', '6240', '9654', '14683', '7863', '9405', '13846', '6424',
       '7255', '6873', '13535', '3752', '6924', '7818', '6395', '22196',
       '5805', '10516', '6324', '5231', '10370', '6784', '11089', '7041',
       '5803', '21564', '8627', '6678', '9032', '14147', '7627', '5460',
       '5668', '7901', '4998', '6418', '8010', '10103', '11507', '4687',
       '5244', '29185', '5679', '8487', '5946', '6936', '11326', '8060',
       '11878', '8883', '7098', '10018', '15289', '8972', '10029',
       '12263', '6648', '5723', '4944', '12035', '5719', '7000', '8682',
       '6342', '20948', '6668', '7130', '10327', '6511', '6492', '9292',
       '6723', '10801', '6350', '6367', '23340', '10503', '7526', '8821',
       '14690', '5732', '6294', '7547', '3690', '12285', '6287', '10838',
       '7765', '9648', '6437', '4122', '13044', '9328', '7481', '4391',
       '8472', '9863', '7712', '13771', '8375', '4291', '9298', '14178',
       '7426', '7542', '17022', '6283', '5994', '4892', '13038', '4645',
       '6233', '9526', '7400', '22031', '5342', '4798', '12801', '6536',
       '5197', '7117', '6250', '10267', '8116', '4963', '18715', '9382',
       '9944', '10814', '6542', '6323', '5306', '7966', '4169', '5247',
       '9857', '9421', '5758', 'NR0NR', '18806', '7319', '8433', '3728',
       '8441', '9254', '8797', '10097', '5619', '5407', '10246', '16938',
       '7770', '9132', '10694', '6666', '11617', '3854', '6144', '7277',
       '23398', '6767', '7313', '12308', '7087', '6325', '11333', '6699',
       '9389', '7179', '5775', '20511', '10046', '11249', '12131', '6964',
       '5561', '5447'], dtype=object)

In [ ]:
vacc_rate.n.value_counts()

In [ ]:
vacc_rate.isnull().sum()

In [ ]:
#vacc_rate.duplicated()

In [ ]:
pne_flu = pd.read_csv('data/Deaths_from_Pneumonia_and_Influenza__P_I__and_all_deaths__by_state_and_region__National_Center_For_Health_Statistics_Mortality_Surveillance_System.csv')

In [ ]:
pne_flu.head()

In [ ]:
pne_flu.shape