In [1]:
import pandas as pd
import numpy as np

In [2]:
vacc_09_10 = pd.read_csv('data/2009-10 vaccination_coverage.txt')

In [3]:
vacc_09_10.head()

            States    n     %      CI
Alabama          9  441  45.8  (±2.0)
Alaska           5   58  45.1  (±3.2)
Arizona          8  321  45.9  (±2.4)
Arkansas         5  931  55.2  (±3.7)
California      18   39  45.4  (±1.4)

In [4]:
vacc_09_10['States'].dtype

dtype('int64')

In [6]:
vacc_09_10.States = vacc_09_10.States.astype(str)
vacc_09_10.n = vacc_09_10.n.astype(str)

In [7]:
vacc_09_10['n'] = vacc_09_10['n'].str.zfill(3)

In [8]:
vacc_09_10.head()

           States    n     %      CI
Alabama         9  441  45.8  (±2.0)
Alaska          5  058  45.1  (±3.2)
Arizona         8  321  45.9  (±2.4)
Arkansas        5  931  55.2  (±3.7)
California     18  039  45.4  (±1.4)

In [9]:
vacc_09_10['n'] = vacc_09_10['States'] + vacc_09_10['n']

In [10]:
vacc_09_10.head()

           States      n     %      CI
Alabama         9   9441  45.8  (±2.0)
Alaska          5   5058  45.1  (±3.2)
Arizona         8   8321  45.9  (±2.4)
Arkansas        5   5931  55.2  (±3.7)
California     18  18039  45.4  (±1.4)

In [13]:
vacc_09_10.drop(columns = 'States')
vacc_09_10.reset_index()
vacc_09_10.rename(columns = {'index': 'states'})

                     States      n     %      CI
Alabama                   9   9441  45.8  (±2.0)
Alaska                    5   5058  45.1  (±3.2)
Arizona                   8   8321  45.9  (±2.4)
Arkansas                  5   5931  55.2  (±3.7)
California               18  18039  45.4  (±1.4)
Colorado                 10  10831  49.7  (±2.3)
Connecticut               8   8657  51.4  (±2.3)
Delaware                  7   7226  52.8  (±2.4)
District of Columbia      6   6501  49.9  (±3.0)
Florida                  25  25335  41.5  (±1.4)
Georgia                   8   8034  43.4  (±2.4)
Hawaii                   10  10004  62.4  (±2.0)
Idaho                     9   9662  42.9  (±1.8)
Illinois                  8   8810  47.6  (±3.0)
Indiana                  11  11145  50.2  (±1.7)
Iowa                      8   8222  56.5  (±2.0)
Kansas                   13  13988  50.7  (±1.8)
Kentucky                  9   9883  48.4  (±2.1)
Louisiana                 9   9054  48.3  (±2.0)
Maine                     8   8921  54.7  (±1.9)
Maryland                 11  11261  51.2  (±1.8)
Massachusetts            14  14221  59.4  (±2.2)
Michigan                 10  10767  42.8  (±1.8)
Minnesota                 8   8917  56.0  (±2.4)
Mississippi              11  11895  42.5  (±1.8)
Missouri                  7   7137  46.2  (±2.3)
Montana                   9   9342  44.0  (±2.0)
Nebraska                 16  16626  54.7  (±2.1)
Nevada                    7   7369  39.3  (±2.6)
New Hampshire             7   7401  56.5  (±2.0)
New Jersey               11  11776  45.6  (±1.8)
New Mexico                9   9437  54.3  (±2.5)
New York                  9   9896  48.4  (±1.9)
North Carolina           11  11349  48.7  (±2.7)
North Dakota              7   7060  51.6  (±2.2)
Ohio                     11  11427  47.0  (±1.8)
Oklahoma                 10  10027  49.0  (±2.0)
Oregon                    8   8263  45.6  (±2.1)
Pennsylvania             12  12327  49.4  (±1.6)
Rhode Island              8   8537  61.2  (±2.0)
South Carolina           10  10911  47.9  (±2.0)
South Dakota              8   8949  59.5  (±2.3)
Tennessee                 7   7360  49.1  (±2.3)
Texas                    20  20994  45.9  (±1.6)
Utah                     11  11564  49.8  (±1.7)
Vermont                   2   2882  58.1  (±4.4)
Virginia                  7   7184  55.2  (±2.7)
Washington               19  19819  48.0  (±1.4)
West Virginia             6   6970  50.5  (±2.2)
Wisconsin                 5   5622  46.8  (±2.5)
Wyoming                   8   8112  47.7  (±2.0)

In [ ]:
pne_flu = pd.read_csv('data/Deaths_from_Pneumonia_and_Influenza__P_I__and_all_deaths__by_state_and_region__National_Center_For_Health_Statistics_Mortality_Surveillance_System.csv')

In [ ]:
pne_flu.head()

In [ ]:
pne_flu.columns